/* default */
@media (min-width: 1024px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        /* 自動スクロール移動 */
        /* scroll-behavior: smooth; */
    }

    a {
        text-decoration: none;
    }

    /* loading animation */
    .fusuma-container {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        pointer-events: none;
        z-index: 3;
    }

    .fusuma-left {
        width: 50%;
        height: 100%;
        background-color: lightyellow;
        border: 8px solid black;
        box-sizing: border-box;
        animation: openLeft 1.0s ease-in forwards;
        animation-delay: 0.6s;
    }

    .fusuma-obi {
        position: absolute;
        width: 100%;
        height: 100px;
        background-color: midnightblue;
        transform: translateY(-50%);
        top: 50%;
    }

    .left-pull {
        width: 50px;
        height: 50px;
        background-color: gray;
        border-radius: 50%;
        border: 6px solid black;
        box-sizing: border-box;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 10px;
    }

    .fusuma-right {
        width: 50%;
        height: 100%;
        background-color: lightyellow;
        border: 8px solid black;
        box-sizing: border-box;
        animation: openRight 1.0s ease-in forwards;
        animation-delay: 0.6s;
    }

    .right-pull {
        width: 50px;
        height: 50px;
        background-color: gray;
        border-radius: 50%;
        border: 6px solid black;
        box-sizing: border-box;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 10px;
    }

    @keyframes openLeft {
        0% {
            transform: translateX(0);

        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes openRight {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(100%);
        }
    }

    /* mouse stalker */
    #coneta {
        position: fixed;
        top: -80px;
        left: -80px;
        width: 200px;
        height: 200px;
        transform: scale(0.25);
        transition: transform 0.4s ease-out, opacity 0.5s ease;
        pointer-events: none;
        z-index: 2;
        opacity: 0;
    }

    #coneta.active {
        opacity: 1;
    }

    .ear {
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 60px solid black;
    }

    .ear::before {
        content: "";
        position: absolute;
        top: 30px;
        left: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid gray;
    }

    .ear-left {
        left: 20px;
        transform: rotate(-20deg);
    }

    .ear-right {
        right: 20px;
        transform: rotate(20deg);
    }

    .face {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80%;
        background-color: lightgray;
        border-radius: 50%;
        overflow: hidden;
    }

    .face::before {
        content: "";
        position: absolute;
        top: -70px;
        left: 80px;
        width: 200px;
        height: 160px;
        background-color: black;
        border-radius: 50%;
    }

    .eye {
        position: absolute;
        top: 50px;
        width: 20px;
        height: 40px;
        border: 2px solid darkgray;
        background-color: yellow;
        border-radius: 50%;
    }

    .eye::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 8px;
        width: 4px;
        height: 22px;
        background-color: black;
        border-radius: 50%;
    }

    .eye-left {
        left: 50px;
    }

    .eye-right {
        right: 50px;
    }

    .nose {
        position: absolute;
        width: 0;
        height: 0;
        top: 100px;
        left: 92px;
        border-top: 8px solid deeppink;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        opacity: 0.4;
    }

    /* header */
    .header {
        width: 100%;
        padding: 40px 0 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
    }

    .header-name-space {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 0.5rem;
    }

    .ltd {
        font-size: 1.4rem;
        font-weight: bold;
        font-family: sans-serif;
        color: black;
        text-shadow: 0.2rem 0.1rem 4px gray;
    }

    .name {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: sans-serif;
        color: black;
        text-shadow: 0.2rem 0.1rem 4px gray;
    }

    .header-tp-text {
        font-size: 1.0rem;
        font-weight: bold;
        font-family: serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px lightseagreen;
    }

    /* topic */
    .topic {
        width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 1.0rem;
        margin: 0 auto;
        padding: 0 0 2.0rem 0;
    }

    .topic-mobiles {
        display: none;
    }

    .intopic-row {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .tptext-cell {
        width: 50%;
        padding: 1.0rem 0;
        box-sizing: border-box;
        background-color: aliceblue;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topic-text {
        font-size: 1.2rem;
        line-height: 2.6rem;
        font-weight: bold;
        font-family: serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px yellow;
    }

    .tpimg-cell {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        object-fit: scale-down;
        scale: 95%;
    }

    /* during line */
    .during-line {
        width: 40%;
        height: 4px;
        background-color: darkblue;
        border-radius: 100px;
        margin: 0 5% 0 auto;
    }

    /* about */
    .about {
        width: 1000px;
        margin: 0 auto;
        padding: 2.0rem 0;
        position: relative;
        /* border: 1px solid black; */
    }

    /* track animation */
    .track-anime-space {
        position: absolute;
        top: -10px;
        left: 5%;
        width: 90%;
        height: 160px;
        /* background-color: ghostwhite; */
        /* border-radius: 20px; */
        /* border: 4px solid lightgray; */
        /* box-sizing: border-box; */
        overflow: hidden;
        z-index: -1;
    }

    .track {
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 150px;
        height: 130px;
        animation: trackMove 6.0s ease-in-out infinite, trackBounce 0.2s linear infinite;
        opacity: 0.6;
    }

    @keyframes trackMove {
        0% {
            left: 100%;
            transform: translateX(100%) scale(0.75);
        }

        45%,
        55% {
            left: 50%;
            transform: translateX(-50%) scale(0.75);
        }

        100% {
            left: 0;
            transform: translateX(-200%) scale(0.75);
        }
    }

    @keyframes trackBounce {

        0%,
        100% {
            bottom: 0;
        }

        50% {
            bottom: 1px;
        }
    }

    .rides {
        position: absolute;
        top: 20%;
        left: 0;
        width: 40%;
        height: 60%;
        background-color: gray;
        border-radius: 100px 20px 0 20px;
    }

    .rides::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 16%;
        width: 74%;
        height: 48%;
        background-color: lightgray;
        border-radius: 100px 20px 10px 20px;
    }

    .pack {
        position: absolute;
        top: 55%;
        left: 20%;
        width: 80%;
        height: 25%;
        background-color: gray;
        border-radius: 0 4px 4px 0;
    }

    .packin {
        position: absolute;
        top: 25%;
        left: 18%;
        width: 85%;
        height: 10%;
        background-color: lightgray;
        border-radius: 4px;
        transform: rotate(26deg);
    }

    .tctyre {
        position: absolute;
        top: 68%;
        width: 30px;
        height: 30px;
        background-color: lightgray;
        border: 4px solid darkgray;
        border-radius: 50%;
        box-sizing: border-box;
    }

    .tctyreleft {
        left: 10%;
    }

    .tctyreright {
        right: 10%;
    }

    .each-title-space {
        width: 100%;
        text-align: center;
    }

    .about-title-text {
        font-size: 2.5rem;
        line-height: 6.0rem;
        font-weight: normal;
        font-family: sans-serif;
        color: blue;
        text-shadow: 0.3rem 0.2rem 2px lightgray;
        letter-spacing: 0.5rem;
    }

    .about-table {
        width: 600px;
        margin: 0 auto;
    }

    .about-head-cell {
        width: auto;
        text-align: center;
    }

    .about-head-text {
        font-size: 1.0rem;
        font-weight: bold;
        font-family: sans-serif;
        color: gray;
    }

    .about-cont-cell {
        width: 70%;
        text-align: left;
    }

    .about-cont-text {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: normal;
        font-family: sans-serif;
        color: black;
        margin-left: 20px;
    }

    /* diary */
    .diary {
        width: 1000px;
        margin: 0 auto;
        padding: 32px 0;
        position: relative;
        /* border: 1px solid black; */
    }

    /* fusuma animation */
    .fusuma-anime-space {
        position: absolute;
        top: 26px;
        left: 5%;
        width: 90%;
        height: 100px;
        overflow: hidden;
        z-index: -1;
        /* border: 1px solid black; */
    }

    .fs4s {
        position: absolute;
        top: 0;
        width: 65px;
        height: 100%;
        background-color: ghostwhite;
        border: 2px solid darkgray;
        box-sizing: border-box;
        opacity: 0.6;
    }

    .fs4s-left1 {
        left: 0;
        animation: fsleft1Move 8.0s ease-in-out infinite;
    }

    @keyframes fsleft1Move {
        0% {
            left: 100%;
            transform: translateX(100%);
        }

        10%,
        60% {
            left: 50%;
            transform: translateX(-200%);
        }

        100% {
            left: 0;
            transform: translateX(-200%);
        }
    }

    .fs4s-left2 {
        left: 0;
        animation: fsleft2Move 8.0s ease-in-out infinite;
    }

    @keyframes fsleft2Move {
        0% {
            left: 100%;
            transform: translateX(100%);
        }

        20%,
        70% {
            left: 50%;
            transform: translateX(-100%);
        }

        100% {
            left: 0;
            transform: translateX(-200%);
        }
    }

    .fs4s-left3 {
        left: 0;
        animation: fsleft3Move 8.0s ease-in-out infinite;
    }

    @keyframes fsleft3Move {
        0% {
            left: 100%;
            transform: translateX(100%);
        }

        30%,
        80% {
            left: 50%;
            transform: translateX(0);
        }

        100% {
            left: 0;
            transform: translateX(-200%);
        }
    }

    .fs4s-left4 {
        left: 0;
        animation: fsleft4Move 8.0s ease-in-out infinite;
    }

    @keyframes fsleft4Move {
        0% {
            left: 100%;
            transform: translateX(100%);
        }

        40%,
        90% {
            left: 50%;
            transform: translateX(100%);
        }

        100% {
            left: 0;
            transform: translateX(-200%);
        }
    }

    .fs4sobi {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 25px;
        background-color: lightgray;
    }

    .fs4ste {
        position: absolute;
        top: 6px;
        width: 8px;
        height: 8px;
        background-color: ghostwhite;
        border-radius: 50%;
        border: 1px solid darkgray;
        box-sizing: border-box;
    }

    .fs4ste-left1 {
        left: 3px;
    }

    .fs4ste-left2 {
        right: 3px;
    }

    .fs4ste-left3 {
        left: 3px;
    }

    .fs4ste-left4 {
        right: 3px;
    }

    .diary-title-text {
        font-size: 2.5rem;
        line-height: 6.0rem;
        font-weight: normal;
        font-family: sans-serif;
        color: orangered;
        text-shadow: 0.3rem 0.2rem 2px lightgray;
        letter-spacing: 0.5rem;
    }

    .diary-table {
        width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    .diary-row {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .diary-date-cell {
        width: 30%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .diary-date-text {
        font-size: 1.0rem;
        font-weight: bold;
        font-family: sans-serif;
        color: gray;
    }

    .diary-cont-cell {
        width: 70%;
        text-align: left;
        display: flex;
    }

    .diary-cont-text {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: normal;
        font-family: sans-serif;
        color: black;
    }

    .diary-cont-text:hover {
        text-decoration: underline;
    }

    /* contact */
    .contact {
        width: 1000px;
        margin: 0 auto;
        padding: 2.0rem 0;
    }

    .contact-title-text {
        font-size: 2.5rem;
        line-height: 6.0rem;
        font-weight: normal;
        font-family: sans-serif;
        color: green;
        text-shadow: 0.3rem 0.2rem 2px lightgray;
        letter-spacing: 0.5rem;
    }

    .contact-table {
        width: 400px;
        margin: 0 auto;
    }

    .contact-head-cell {
        width: auto;
        text-align: center;
    }

    .contact-head-text {
        font-size: 1.0rem;
        font-weight: bold;
        font-family: sans-serif;
        color: gray;
        letter-spacing: 0.4rem;
    }

    .contact-cont-cell {
        width: 50%;
        text-align: left;
    }

    .contact-cont-text {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: normal;
        font-family: sans-serif;
        color: black;
        margin-left: 20px;
    }

    .contact-attention-space {
        width: 800px;
        padding: 1.0rem 0;
        background-color: seashell;
        border-radius: 20px;
        margin: 0 auto;
        text-align: center;
    }

    .contact-attention-text {
        font-size: 1.0rem;
        line-height: 2.2rem;
        font-weight: bold;
        font-family: serif;
        color: maroon;
    }

    /* bottom topic */
    .bottom-topic {
        width: 1000px;
        margin: 0 auto;
        padding: 2.0rem 0;
    }

    .btmtopic-title-text {
        font-size: 2.5rem;
        line-height: 6.0rem;
        font-weight: normal;
        font-family: sans-serif;
        color: yellowgreen;
        text-shadow: 0.3rem 0.2rem 3px lightgray;
        letter-spacing: 0.2rem;
    }

    .btmtopic-cont-area {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .btmtopic-cont-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px 0;
    }

    .annoy-head-cell {
        width: 40%;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        padding-left: 80px;
        align-items: center;
        box-sizing: border-box;
    }

    .annoy-head-text {
        font-size: 1.0rem;
        line-height: 2.0rem;
        font-weight: bold;
        font-family: sans-serif;
        color: gray;
    }

    .annoy-cont-cell {
        width: auto;
        text-align: left;
        padding-left: 20px;
        box-sizing: border-box;
    }

    .annoy-cont-text {
        font-size: 1.0rem;
        line-height: 2.0rem;
        font-weight: normal;
        font-family: sans-serif;
        color: black;
    }

    .annoy-during-line {
        width: 90%;
        height: 2px;
        background-color: lightgray;
        border-radius: 100px;
        margin: 0 auto;
    }

    /* footer */
    .footer {
        width: 100%;
        background-color: gray;
        padding: 2.0rem 0;
        text-align: center;
    }

    .footer-text {
        font-size: 0.8rem;
        line-height: 2.0rem;
        font-weight: normal;
        font-family: sans-serif;
        color: ghostwhite;
    }

    .only-ms {
        display: none;
    }
}
