/*default*/
@media screen and (min-width: 961px) {
    body {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .to-top {
        display: grid;
        width: 80px;
        height: 80px;
        background-color: lightyellow;
        border: solid 2px gray;
        border-radius: 50%;
        text-align: center;
        align-items: center;

        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;
    }

    .top-text {
        font-size: 1.0rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    /*header*/
    .header {
        width: 100%;
        text-align: center;
    }

    .ltd {
        font-size: 1.6rem;
        line-height: 4.5rem;
        font-weight: bold;
        font-family: sans-serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .name {
        font-size: 1.8rem;
        line-height: 4.5rem;
        font-weight: bold;
        font-family: sans-serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .phrase {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: bold;
        font-family: serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px orangered;
    }

    .during-line {
        width: 40%;
        height: 6px;
        border-radius: 10px;
        background-color: navy;
        margin: 0 5% 0 auto;
    }

    /*diary*/
    table {
        width: 60%;
        margin: 0 auto;
    }

    .new-tag {
        width: 8%;
        text-align: left;
    }

    .tag-text {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: orangered;
        text-shadow: 
            0 0 0.10rem yellow,
            0 0 0.15rem yellow,
            0 0 0.80rem yellow,
            0 0 1.00rem yellow;
    }

    .year-cell {
        width: 8%;
        text-align: center;
    }

    .year {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .month-cell {
        width: 8%;
        text-align: center;
    }

    .month {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .day-cell {
        width: 8%;
        text-align: center;
    }

    .day {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .void-space {
        width: 8%;
    }

    .article-cell {
        width: 60%;
        text-align: left;
    }

    .article {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px lightseagreen;
    }

    /*footer*/
    .footer {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        padding: 1.6rem 0;
    }

    .lastup {
        font-size: 0.8rem;
        line-height: 1.6rem;
        font-weight: normal;
        font-family: sans-serif;
        color: black;
    }

    .footer-text {
        font-size: 0.8rem;
        line-height: 1.6rem;
        font-weight: normal;
        font-family: sans-serif;
        color: black;
    }

    .only-ms {
        display: none;
    }
}