/*mobiles*/
@media screen and (max-width: 960px) {
    body {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .menu {
        display: grid;
        width: 70px;
        height: 70px;
        background-color: lightyellow;
        border: solid 2px gray;
        border-radius: 50%;
        text-align: center;
        align-items: center;

        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
    }

    .menu-text {
        font-size: 0.8rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    /*header*/
    .header {
        width: 100%;
        text-align: center;
    }

    .ltd {
        font-size: 1.3rem;
        line-height: 3.0rem;
        font-weight: bold;
        font-family: sans-serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .name {
        font-size: 1.4rem;
        line-height: 3.0rem;
        font-weight: bold;
        font-family: sans-serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .phrase {
        font-size: 0.8rem;
        line-height: 2.0rem;
        font-weight: bold;
        font-family: serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px orangered;
    }

    .during-line {
        width: 40%;
        height: 2px;
        border-radius: 10px;
        background-color: navy;
        margin: 2.0rem 5% 2.0rem auto;
    }

    /*topic*/
    /*imageformobiles*/
    .imgforms {
        width: 90%;
        height: 10rem;
        display: flex;
        margin: 0 auto;
    }

    .ims-left-space {
        width: 50%;
        height: 100%;
    }

    .ims-left {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .ims-void {
        width: 2%;
        height: 100%;
    }

    .ims-right-space {
        width: 48%;
        height: 100%;
    }

    .ims-right {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .topic {
        width: 100%;
        display: block;
        padding: 1.0rem 0;
    }

    .ftext-i {
        width: 80%;
        text-align: left;
        margin: 0 auto 0 5%;
        background-color: aliceblue;
        border-radius: 50%;
    }

    .ftext-ii {
        width: 80%;
        text-align: right;
        margin: 0 5% 0 auto;
        background-color: aliceblue;
        border-radius: 50%;
    }

    .ftext {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: bold;
        font-family: serif;
        color: maroon;
        text-shadow: 0.1rem 0.1rem 2px lightgray;
    }

    .imgtopic-i {
        display: none;
    }

    .imgtopic-ii {
        display: none;
    }

    /*explain*/
    .explain {
        width: 80%;
        margin: 0 auto;
    }

    .table-title-cell {
        width: 100%;
        text-align: center;
    }

    .table-title {
        font-size: 2.0rem;
        line-height: 8rem;
        font-weight: normal;
        color: blue;
        text-shadow: 0.2rem 0.2rem 2px gray;
    }

    .content-title-cell {
        width: 40%;
        text-align: center;
    }

    .content-title {
        font-size: 0.8rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .during-void {
        width: 5%;
    }

    .content-text-cell {
        width: 55%;
        text-align: left;
    }

    .content-text {
        font-size: 0.8rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px lightgray;
    }

    /*contact*/
    .contact {
        width: 80%;
        margin: 0 auto;
    }

    .attention-space {
        width: 100%;
        text-align: center;
        padding: 1.0rem 0 2.0rem 0;
    }

    .attention {
        font-size: 0.8rem;
        line-height: 2.0rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px lightcoral;
    }

    /*footer*/
    .footer {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        padding: 1.6rem 0;
    }

    .footer-text {
        font-size: 0.6rem;
        line-height: 1.2rem;
        font-weight: normal;
        font-family: sans-serif;
        color: black;
    }

    .only-df {
        display: none;
    }
}