/*default*/
@media screen and (min-width: 961px) {
    body {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .menu {
        display: grid;
        width: 80px;
        height: 80px;
        background-color: lightyellow;
        border: solid 2px gray;
        border-radius: 50%;
        text-align: center;
        align-items: center;

        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;
    }

    .menu-text {
        font-size: 1.0rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    /*header*/
    .header {
        width: 100%;
        text-align: center;
    }

    .ltd {
        font-size: 1.6rem;
        line-height: 4.5rem;
        font-weight: bold;
        font-family: sans-serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .name {
        font-size: 1.8rem;
        line-height: 4.5rem;
        font-weight: bold;
        font-family: sans-serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .phrase {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: bold;
        font-family: serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px orangered;
    }

    .during-line {
        width: 40%;
        height: 6px;
        border-radius: 10px;
        background-color: navy;
        margin: 2.5rem 5% 2.5rem auto;
    }

    /*topic*/
    /*image for mobiles*/
    .imgforms {
        display: none;
    }

    .topic {
        width: 80%;
        display: flex;
        margin: 0 auto;
        padding: 2.0rem 0;
    }

    .ftext-i {
        width: 55%;
        text-align: center;
        background-color: aliceblue;
        border-radius: 50%;
    }

    .ftext-ii {
        width: 45%;
        text-align: center;
        background-color: aliceblue;
        border-radius: 50%;
    }

    .ftext {
        font-size: 1.2rem;
        line-height: 4.5rem;
        font-weight: bold;
        font-family: serif;
        color: maroon;
        text-shadow: 0.1rem 0.1rem 2px lightgray;
    }

    .imgtopic-i {
        width: 45%;
        height: 18rem;
    }

    .imgtopic-ii {
        width: 55%;
        height: 22.5rem;
    }

    /*写真の貼り付け*/
    img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    /*explain*/
    .explain {
        width: 60%;
        margin: 0 auto;
    }

    .table-title-cell {
        width: 100%;
        text-align: center;
    }

    .table-title {
        font-size: 2.5rem;
        line-height: 8rem;
        font-weight: normal;
        color: blue;
        text-shadow: 0.2rem 0.2rem 2px gray;
    }

    .content-title-cell {
        width: 40%;
        text-align: center;
    }

    .content-title {
        font-size: 1.2rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .during-void {
        width: 10%;
    }

    .content-text-cell {
        width: 50%;
        text-align: left;
    }

    .content-text {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px lightgray;
    }

    /*contact*/
    .contact {
        width: 40%;
        margin: 0 auto;
    }

    .attention-space {
        width: 100%;
        text-align: center;
        padding: 2.0rem 0 2.5rem 0;
    }

    .attention {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px red;
    }

    /*footer*/
    .footer {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        padding: 1.6rem 0;
    }

    .footer-text {
        font-size: 0.8rem;
        line-height: 1.6rem;
        font-weight: normal;
        font-family: sans-serif;
        color: black;
    }

    .only-ms {
        display: none;
    }
}